<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Camera hardware feature -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".ui.activities.SmartLeafApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartLeaf">

        <activity
            android:name=".ui.activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.MainActivity"
            android:configChanges="locale|layoutDirection|screenSize|orientation" />

        <activity
            android:name=".ui.activities.LoginActivity"
            android:configChanges="locale|layoutDirection|screenSize|orientation" />

        <activity
            android:name=".ui.activities.SignupActivity"
            android:configChanges="locale|layoutDirection|screenSize|orientation" />

        <activity
            android:name=".ui.activities.ProfileActivity"
            android:configChanges="locale|layoutDirection|screenSize|orientation" />

        <activity
            android:name=".ui.activities.ScanActivity"
            android:configChanges="locale|layoutDirection|screenSize|orientation" />

        <activity
            android:name=".ui.activities.HistoryActivity"
            android:configChanges="locale|layoutDirection|screenSize|orientation" />

        <activity
            android:name=".ui.activities.CategoryActivity"
            android:configChanges="locale|layoutDirection|screenSize|orientation" />

        <activity
            android:name=".ui.activities.PlantListActivity"
            android:configChanges="locale|layoutDirection|screenSize|orientation" />

        <activity
            android:name=".ui.activities.CategoryDetailActivity"
            android:configChanges="locale|layoutDirection|screenSize|orientation" />

        <activity
            android:name=".ui.activities.EditProfileActivity"
            android:configChanges="locale|layoutDirection|screenSize|orientation" />

        <activity
            android:name=".ui.activities.ResultActivity"
            android:configChanges="locale|layoutDirection|screenSize|orientation" />

        <activity
            android:name=".ui.activities.SettingsActivity"
            android:configChanges="locale|layoutDirection|screenSize|orientation" />

        <activity
            android:name=".ui.activities.AboutActivity"
            android:exported="false"
            android:parentActivityName=".ui.activities.ScanActivity" />

        <activity android:name=".ui.activities.ChatbotHomeActivity" />
        <activity android:name=".ui.activities.ChatbotActivity" />
        <activity android:name=".ui.activities.WeatherDetailsActivity" />

    </application>
</manifest>